name: Build

on:
  push:
    tags:
      - v*

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: x86_64
          - os: ubuntu-24.04-arm
            arch: aarch64
          - os: macos-14
            arch: universal2

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3
        env:
          CIBW_ARCHS: ${{ matrix.arch }}

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ matrix.arch }}
          path: wheelhouse/*.whl

  build_windows_wheels:
    name: Build Windows wheels (${{ matrix.arch }})
    runs-on: windows-latest
    env:
      MECAB_PATH: "C:\\mecab"
    strategy:
      matrix:
        arch: [x86, AMD64, ARM64]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3
        env:
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: >
            python scripts/repair_wheel_windows.py
            --verbose
            --architecture=${{ matrix.arch }}
            --add-path=${{ env.MECAB_PATH }}
            --wheel-dir {dest_dir}
            {wheel}

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-windows-${{ matrix.arch }}
          path: wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_windows_wheels, build_sdist]
    runs-on: ubuntu-latest

    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1

  upload_release:
    needs: [build_wheels, build_windows_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*